<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        body{
            background-image: url("/image/community.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.85;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <button id=a-button><a href="/main">홈으로</a></button >
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
            </div>
            <div class="bt_wrap">
                <a href="/community/write" class="on">등록</a>
            </div>
        </div>
    </div>
    <script src="/script/community/list.js"></script>
</body>
</html> 