<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" id="title"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" id="content"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <button class="on">등록</button>
                <a href="/community/board">취소</a>
            </div>
        </div>
    </div>
    <script>
        const $btn = document.querySelector('.on');
        const $title = document.getElementById('title');
        const $content = document.getElementById('content');

        function write() {
            let titleValue = $title.value;
            let contentValue = $content.value;
            let data = {};
            fetch("/api/currentUsername", {
                method: 'get',
                headers: {
                    'content-type': 'application/json',
                    'Authorization': localStorage.getItem('jwt')
                }
            }).then(res => {
                if(res.status !== 401) {
                    res.text().then(function(name) {
                        data = {
                            title : titleValue,
                            username : name,
                            content : contentValue
                        }
                        fetch("/api/writeCommunity", {
                            method: 'post',
                            headers: {
                                'content-type': 'application/json',
                                'Authorization': localStorage.getItem('jwt')
                            },
                            body: JSON.stringify(data)
                        }).then(res => res.text().then((msg) => {
                            alert(msg);
                            location.href='/community/board';
                        }))
                    })
                }
            });
        }

        $btn.addEventListener('click', write);
    </script>
</body>
</html>