@import url(style.css);
@import url(media.css);

#a-button {
    width: 60px;
    padding: 7px;
    margin-left: 260px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}