<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> login</title>
  <meta charSet="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<main id="main-holder">
  <h1 id="login-header">랜프독</h1>
  <h2>'no pain no gain'</h2>
  <div id="login-form">
    <input type="text" name="username" id="username-field" className="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" className="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
    <button id="login-form-button">signup</button>
  </div>
</main>
<script src="/script/login/login.js"></script>
</body>

</html>