<html>
<head>
    <title> 플래너 </title>

</head>

<body onload="window.resizeTo(800, 600)">

<h1> 플래너 </h1>
study task<br>

<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<button type="button" id="plan">계획하기</button>

<input type="button" value="닫기" onclick="self.close();" />


<script>
// 구현 마저할것 TODO
    function save() {
        fetch("/api/savePlan", {
            method: 'post',
            headers: {
                'content-type': 'application/json',
                'Authorization': localStorage.getItem('jwt')
            },
            body: document.getElementsByName('plan')
        }).then( res => {
            if(res.status === 401) {
                alert('권한이 없습니다.');
            }
        })
    }
    const $save = document.getElementById('plan');
    $save.addEventListener('click', save);
</script>
</body>

</html>