<html>
<head>
    <title> 플래너 </title>

</head>

<body onload="window.resizeTo(800, 600)">

<h1> 플래너 </h1>
study task<br>

<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<input type="text" size="30" name="plan"> <br>
<button type="button" id="plan">계획하기</button>

<input type="button" value="닫기" onclick="self.close();" />


<script>
    function save() {
        let data = {
            '1' : document.getElementsByName('plan')[0].value,
            '2' : document.getElementsByName('plan')[1].value,
            '3' : document.getElementsByName('plan')[2].value,
            '4' : document.getElementsByName('plan')[3].value,
            '5' : document.getElementsByName('plan')[4].value,
        }
        fetch("/api/savePlan", {
            method: 'post',
            headers: {
                'content-type': 'application/json',
                'Authorization': localStorage.getItem('jwt')
            },
            body: JSON.stringify(data)
        }).then( res => {
            if(res.status === 401) {
                alert('권한이 없습니다.');
            } else {
                res.text().then(mes => alert(mes));
                window.close()
            }
        })
    }
    const $save = document.getElementById('plan');
    $save.addEventListener('click', save);
</script>
</body>

</html>